<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>WeUI测试</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>
<div th:fragment="mypage">
    <div align="center" class="log">
        <img class="round_icon" src="../static/images/user.png" th:src="@{/static/images/user.png}"/>
    </div>

    <!--            <div id="user-picture"><img src="../static/images/user.png" th:src="@{/static/images/user.png}"-->
    <!--                                        alt="点击查看用户信息" style="width: 100px" ; height="100px"></div>-->
    <div th:switch="${ session.openid != null }">
        <div th:case="true" th:text="'欢迎您'+${session.openid}"
             style="text-align: center; margin-top: 50px"></div>
         <!--没有登录-->
        <div th:case="false">
            <a class="login" href="/login" th:href="@{/login}">登录</a>
        </div>
    </div>

    <div class="weui-cells">
        <!--没登录则跳转到登录界面-->
        <a class="weui-cell weui-cell_access" href="#"
           th:href="${session.openid != null} ? @{/user} : @{/login}">
            <div class="weui-cell__bd">
                <p>我的资料</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="#"
           th:href="${session.openid != null} ? @{/user} : @{/login}">
            <div class="weui-cell__bd">
                <p>我的报修</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <!--拨打电话-->
        <a class="weui-cell weui-cell_access" href="tel:15907259676">
            <div class="weui-cell__bd">
                <p>客服帮助</p>
            </div>
            <div class="weui-cell__ft">
                15907259676
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="#">
            <div class="weui-cell__bd">
                <p>关于我们</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="#" th:href="@{/suggest}">
            <div class="weui-cell__bd">
                <p>咨询建议</p>
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
        <!--当没有登录的时候不显示退出登录按钮-->
        <div th:switch="${session.openid != null }">
            <div th:case="true" style="margin-top: 50px">
                <a href="/loginOut" class="weui-btn weui-btn_primary">退出登录</a>
            </div>
        </div>
    </div>
</div>
</html>
